body {
	background-image: url('../image/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #606c38;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #fefae0;
	width: 100%;
	font-family: monospace,Arial, Helvetica, sans-serif;
	display:flex;
}

li {
	float: left;
}

li a, .dropbtn, .user, .date-value {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: red;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

li.user {
	color: black;
	width: 800px;
}

.add-product {
	width: 100%;
	text-align: center;
	position: fixed;
}

table {
	border: 1px solid black;
	text-align: center;
	width: 700px;
	border-collapse: collapse;
	background-color: #f3f3f3;
	margin: 0 auto;
}

th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
	text-align: left;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

#add {
	background-color: #85adad;
	border: none;
	float: right;
	margin-right: 10%;
	height: 30px;
	width: 150px;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
	background-color: #33bbff;
	box-shadow: 0 5px #999;
}

#add:hover {
	background: #0099e6;
}

#add:active {
	background-color: #0099e6;
	box-shadow: 0 2px #666;
	transform: translateY(2px);
}

#addItemForm {
	max-width: 300px;
	padding: 10px;
	background-color: white;
	position: fixed;
	text-align: center;
	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 90;
	display: none;
}

.addItemForm-btn {
	width: 100px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #0099e6;
	background-color: white;
	color: #0099e6;
	margin: 5px;
}

input {
	font-family:monospace, Arial, Helvetica, sans-serif;
	 font-size:14px;
}
.addItemForm-btn:hover {
	background-color: #0099e6;
	color: white;
}

input.addItemForm-input {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	width: 150px;
	height: 20px;
	border-radius: 10px;
	text-align: center;
	border: 1px solid black;
	margin: 0 0 5px;
	outline: none;
}

#productView {
	display: none;
}

#update-item {
	display: none;
	padding: 70px 70px;
	text-align: center;
	background-color: white;
	border: 3px solid #f1f1f1;
	z-index: 90;
	position: fixed;
	margin-left: 25%;
}

#sale-bill-view {
	display: none;
}

#enter-menu {
	padding: 10px;
	width: 75%;
	float: left;
}

#total-menu {
	padding: 10px;
	float: right;
	height: 300px;
}

#view-bill {
	display: none;
	text-align: center;
	overflow: scroll;
	height: 450px;
}

table.sale-bill-table {
	width: 100%;
}

.date-value {
	background-color: lightgrey;
	float: right;
}

.main-div {
	margin: auto;
	background-color: white;
	width: 1100px;
	height: 510px;
	text-align: center;
	display:none;
	border: 1px solid black;
	border-radius: 4px;
}

input.total-amt {
	border: none;
	font-weight: bold;
	width: 100px;
}

input.total-qty {
	width: 100px;
}

.scrollit {
	overflow: scroll;
	height:300px;
}

button.save-new {
	z-index: 0;
}

input.sale {
	width: 150px;
	height: 30px;
	font: bold 20px solid black;
}

input.sale-input {
	width: 200px;
	height: 25px;
	border-radius: 5px;
	border: 1px solid grey;
	outline: none;
}

input.value-search {
	width: 250px;
	height: 25px;
	border-radius: 5px;
	border: 1px solid grey;
	outline: none;
	margin: 10px;
}

button.btns {
	border-radius: 5px;
	border: none;
	height: 30px;
	width: 150px;
	display: inline-block;
	padding: 5px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #33bbff;
	box-shadow: 0 5px #999;
}

button.btns:hover {
	background-color: #0099e6;
}

button.btns:active {
	background-color: #0099e6;
	box-shadow: 0 2px #666;
	transform: translateY(4px);
}
.business{
	color: white;
	font-family:Arial, Helvetica, sans-serif;
	font-size:50px;
	margin:auto;
    width: 8em;
    position:relative;
    display:flex;
	
}
.view-stock-div{
	text-align: center;
	overflow: scroll;
	height: 400px;
}